<div class="container" ng-controller="ScrumMasterPlayController">
	<h3>Scrum Master</h3>
	<hr>
	<div class="row">
		<div class="col-md-offset-5 col-md-2">
			<button class="btn btn-success btn-block" title="Start" ng-show="!storystarted" ng-click="startStory()"><i class="fa fa-hourglass-start"></i></button>
			<button class="btn btn-default disabled btn-block" title="In progress..." ng-show="storystarted"><i class="fa fa-hourglass-half fa-pulse"></i></button>
		</div>
	</div>
	<div class="row"><div class="col-md-12">&nbsp;</div></div>
	<div class="row">
		<div class="col-md-offset-4 col-md-4">
			<ul class="list-group">
				<li class="list-group-item">
					<strong>Team Members</strong>
				</li>
	  			<li class="list-group-item" ng-repeat="tm in teamMembers">
	    			<span class="badge" ng-show="tm.storyPoint">{{tm.storyPoint}}</span>
	    			{{tm.name}}
	  			</li>
			</ul>
		</div>
	</div>
</div>