<div class="container" ng-controller="TeamMemberController">
	<h3>Team Member</h3>
	<hr>
	<form class="form-horizontal" ng-submit="createTeamMember()">
		<div class="form-group">
   			<label for="inputName" class="col-md-offset-2 col-md-2 control-label">Name</label>
			<div class="col-md-4">
 				<input type="text" required="required" maxlength="15" class="form-control" id="inputName" ng-model="name" placeholder="Team Member">
			</div>
 		</div>
 		<div class="form-group">
   			<label for="inputSession" class="col-md-offset-2 col-md-2 control-label">SM #</label>
			<div class="col-md-4">
 				<input type="number" required="required" min="1" class="form-control" id="inputSession" ng-model="smId" placeholder="12345">
			</div>
 		</div>
 		<div class="form-group">
   			<div class="col-md-offset-4 col-md-8">
     			<button type="submit" class="btn btn-success">Join</button>
   			</div>
 		</div>
	</form>
</div>