<div class="container" ng-controller="TeamMemberPlayController">
	<h3>Team Member</h3>
	<hr>
	<div class="row">
		<div class="col-xs-offset-4 col-xs-3">
			Story: {{story.id}}
			<div class="well">
				<div class="row">
					<div class="col-xs-4"><button class="btn btn-default btn-block" ng-click="storyPoint(1)">1</button></div>
					<div class="col-xs-4"><button class="btn btn-default btn-block" ng-click="storyPoint(2)">2</button></div>
					<div class="col-xs-4"><button class="btn btn-default btn-block" ng-click="storyPoint(3)">3</button></div>
				</div>
				<div class="row"><div class="col-xs-12">&nbsp;</div></div>
				<div class="row">
					<div class="col-xs-4"><button class="btn btn-default btn-block" ng-click="storyPoint(4)">4</button></div>
					<div class="col-xs-4"><button class="btn btn-default btn-block" ng-click="storyPoint(5)">5</button></div>
					<div class="col-xs-4"><button class="btn btn-default btn-block" ng-click="storyPoint(6)">6</button></div>
				</div>
				<div class="row"><div class="col-xs-12">&nbsp;</div></div>
				<div class="row">
					<div class="col-xs-4"><button class="btn btn-default btn-block" ng-click="storyPoint(7)">7</button></div>
					<div class="col-xs-4"><button class="btn btn-default btn-block" ng-click="storyPoint(8)">8</button></div>
					<div class="col-xs-4"><button class="btn btn-default btn-block" ng-click="storyPoint(9)">9</button></div>
				</div>
				<div class="row"><div class="col-xs-12">&nbsp;</div></div>
				<div class="row">
					<div class="col-xs-4"></div>
					<div class="col-xs-4"><button class="btn btn-primary btn-block" ng-click="storyPoint(0)">0</button></div>
					<div class="col-xs-4"></div>
				</div>
			</div>
		</div>
	</div>
</div>